.game-controller {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__btn {
      cursor: pointer;
      transition: transform .05s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
  }
}
