.game {
  width: max-content;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  &__board {
    padding: 8px 12px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #5c5143;

    border-radius: 8px;
    background-color: #fff;
  }

  &__user {
    margin-right: auto;
  }

  &__desc {
    align-self: flex-end;

    font-size: 12px;
    color: black;
  }

  &__box-grid {
    will-change: transform;
  }

  &__grid {
      display: flex;
      flex-direction: column;
      gap: 2px;
  }

  &__row {
      display: flex;
      gap: 2px;
  }

  &__cell {
      width: 50px;
      height: 50px;

      background-color: #fff;
      border-radius: 8px;

      &--pos {
          position: relative;
      }
  }

  &__figure {
      position: absolute;
      left: 0;

      width: 50px;
      height: 50px;

      background-color: burlywood;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 8px;

      transition: left .05s ease-in-out, right .05s ease-in-out;
  }
}

.anim-down {
  animation: down var(--speed) forwards linear;
}

@keyframes down {
  to {transform: translateY(52px);}
}
