<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.png" type="image/png">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Snack</title>

  <meta name="description" content="Собирай одинаковую еду, зарабатывай очки">
  <meta name="robots" content="index, nofollow" />
  <meta name="yandex" content="noyaca" />
  <meta property="og:url" content="https://frontlive.ru/projects/cnack">
  <meta property="og:title" content="Игра - Перекус">
  <meta property="og:description" content="Собирай одинаковую еду, зарабатывай очки">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://frontlive.ru/projects/game-snack/img/game/preview-page.png">

  <link rel="preload" href="fonts/inter-500.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/inter-700.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/inter-900.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/inter-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/raleway-500.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/raleway-600.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/raleway-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
